@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

h1 {
    color: #e5e5e5;
}

h2 {
    color: #e5e5e5;
}